<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wiki.common_cat.sourceService.mapper.SourceMapper">
    <select id="getDoc" resultType="wiki.common_cat.sourceService.entities.Doc">
        select * from doc where id=#{id}
    </select>
    <select id="imageExist" resultType="string">
        select imageID from ${imgTable} where hash=${hash}
    </select>
    <select id="getImage" resultType="wiki.common_cat.sourceService.entities.Image">
        select * from ${imgTable} where imageID=#{imageID}
    </select>
    <select id="docExist" resultType="string">
        select id from doc where id=${id}
    </select>
    <insert id="setDoc">
        insert into doc (HTML,id,date) values (#{HTML},${id},NOW())
    </insert>
    <select id="isAdmin" resultType="string">
        select id from admins where id=${id}
    </select>
    <update id="updateDoc">
        update doc set HTML=#{HTML},id=${id},date=NOW() where id=#{id}
    </update>
    <sql id="deleteDoc">

    </sql>
    <insert id="setImage">
        insert into ${imgTable} (file,date,hash) values (#{file},NOW(),#{hash})
    </insert>
    <select id="getImageID" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>
    <sql id="deleteImage">

    </sql>
</mapper>