<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wiki.common_cat">
    <select id="getDoc" resultType="wiki.common_cat.sourceService.entities.Doc">

    </select>
    <select id="getImage" resultType="wiki.common_cat.sourceService.entities.Image">

    </select>
    <select id="getMusic" resultType="wiki.common_cat.sourceService.entities.Image">

    </select>
    <sql id="setDoc">

    </sql>
    <sql id="deleteDoc">

    </sql>
    <sql id="setImage">

    </sql>
    <sql id="deleteImage">

    </sql>
    <sql id="setMusic">

    </sql>
    <sql id="deleteMusic">

    </sql>
</mapper>