#main{
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
}
h4{
    font-size: 40pt;
    margin-left: 10%;
}
.button_{
    background-color:rgb(139, 229, 254);
    border-radius: 5px;
    padding:5px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10px;
    display: inline-block;
    font-size: 35pt;
    margin-left: 10%;
}