<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wiki.common_cat.auditService.mapper.AuditMapper">
    <delete id="delAuditedDoc">
        delete from audited_doc where id=#{id}
    </delete>
    <select id="getDoc" resultType="wiki.common_cat.auditService.entities.Doc">
        select * from doc where id=#{id}
    </select>
    <select id="getAuditedDoc" resultType="wiki.common_cat.auditService.entities.Doc">
        select * from audited_doc where id=#{id}
    </select>
    <select id="getAuditingDoc" resultType="wiki.common_cat.auditService.entities.Doc">
        select * from auditing_doc where id=#{id}
    </select>
    <delete id="delAuditDoc">
        DELETE FROM auditing_doc WHERE id=#{id}
    </delete>
    <delete id="rejectDoc">
        DELETE FROM auditing_doc WHERE id=#{id}
    </delete>
    <insert id="auditDoc">
        insert into auditing_doc (HTML,id,date) values ("",#{id},NOW())
    </insert>
    <insert id="acceptDoc">
        update userinfo set isAudited=1 where id=#{id};
        insert into audited_doc (HTML,id,date) values (#{HTML},#{id},NOW())
    </insert>
    <select id="isAdmin" resultType="int">
        select id from admins where id=#{id}
    </select>
    <select id="auditList" resultType="int">
        select id from auditing_doc
    </select>
    <select id="getUserInfo" resultType="wiki.common_cat.auditService.entities.User">
        select * from userinfo where id=${id};
    </select>
    <select id="getEMailByID" resultType="string">
        select email from users where id=#{id};
    </select>
</mapper>