<!DOCTYPE html>
<!--导入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>

<body>
    <div th:text="${id}" style="display: none;" id="id"></div>
    <script src="/src/js/vue_.js"></script>
    <script src="/src/js/login.js"></script>
    <script src="/src/js/main.js"></script>
    <script>
        if(isPhone()){
            loadStyle("/src/css/main-phone.css");
        }else{
            loadStyle("/src/css/main.css");
        }
    </script>
    <div id="main">
        <div id="html"></div>
        <div id="accept" class="button" @click="accept">通过</div>
        <div id="reject" class="button" @click="reject">拒绝</div>
        <textarea id="comment" class="contents" style="min-width:500px;width: 60%;margin-left: 20px;" v-model="comment"></textarea>
        <div id="d" @click="downloaded"></div>
    </div>
    <script>
        var id = document.getElementById("id").innerHTML;
        var app = Vue.createApp({
            data() {
                return {
                    comment: ""
                }
            },
            methods: {
                accept() {
                    ajax = new XMLHttpRequest()
                    ajax.open("POST", "/audit/accept/" + id, true);
                    ajax.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    ajax.onreadystatechange = function () {
                        if (ajax.readyState == 4) {
                            alert("已通过");
                        }
                    }
                    ajax.send("sessionID=" + getSessionID()+"&comment="+this.comment);
                }
                ,
                reject() {
                    ajax = new XMLHttpRequest()
                    ajax.open("POST", "/audit/reject/" + id, true);
                    ajax.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    ajax.onreadystatechange = function () {
                        if (ajax.readyState == 4) { 
                            alert("已拒绝");
                        }
                    }
                    ajax.send("sessionID=" + getSessionID()+"&comment="+this.comment);
                }
                ,
                downloaded() {
                document.getElementById("html").innerHTML=window.html;
                }
            }
        });
        app.mount("#main");
        function downloaded() {
            document.getElementById("d").click();
        }
        function download() {
            ajax = new XMLHttpRequest();
            ajax.open('GET', '/source/doc/' + id + "?sessionID=" + getSessionID(), true);
            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4) {
                    if (ajax.responseText == "401") {
                        setID("");
                    }
                    doc = JSON.parse(ajax.responseText);
                    window.html = doc.HTML;
                    downloaded();
                }
            }
            ajax.send();
        }

        download();
    </script>

</body>

</html>