<html>

<head>
    <title>创作你的花名册</title>
    <link th:href="@{/src/css/main.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/src/css/login.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/src/css/create.css}" type="text/css" rel="stylesheet">
    <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">

</head>

<body>
    <script src="/src/js/vue_.js"></script>
    <script src="/src/js/login.js"></script>
    <script src="/src/js/main.js"></script>
    <div id="editor—wrapper">
        <div id="toolbar-container">
            <!-- 工具栏 -->
        </div>
        <div id="editor-container">
            <!-- 编辑器 -->
        </div>
    </div>
    <div id="sub">
        <div class="button" id="submit" @click="submit">发布</div>
        <div class="button" id="save" @click="save">保存</div>
        <div class="button" id="auto-save" @click="autosave">{{autosavetext}}</div>
    </div>
    <script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
    <script>
        const { createEditor, createToolbar } = window.wangEditor

        const editorConfig = {
            MENU_CONF: {},
            placeholder: '在这里输入',
            onChange(editor) {
                const html = editor.getHtml()
                console.log('editor content', html)
                // 也可以同步到 <textarea>
            }
        }
        editorConfig.MENU_CONF['uploadImage'] = {
            async customUpload(file, insertFn) {
                var ajax = new XMLHttpRequest();
                ajax.open('POST', '/source/upload-image', true);
                var image = '';
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (ev) {
                    image = ev.target.result.split(",")[1];
                    ajax.onreadystatechange = function () {
                        if (ajax.readyState == 4) {
                            insertFn(ajax.responseText, "", "");
                        }
                    }
                    //TODO
                    ajax.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    ajax.send('token=' + '&image=' + image);
                }
            }
        }
        const editor = createEditor({
            selector: '#editor-container',
            html: '<p><br></p>',
            config: editorConfig,
            mode: 'default', // or 'simple'
        })

        const toolbarConfig = {}

        const toolbar = createToolbar({
            editor,
            selector: '#toolbar-container',
            config: toolbarConfig,
            mode: 'default', // or 'simple'
        })
        var app = Vue.createApp(
            {
                data() {
                    return {
                        isautosave: true,
                        autosavetext: "开启自动保存"
                    }
                },
                methods: {
                    submit() {

                    },
                    save() {
                        var ajax = new XMLHttpRequest();
                        ajax.open('POST', '/source/upload-doc', true);
                        ajax.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                        ajax.onreadystatechange = function () {
                            if (ajax.readyState == 4) {
                                alert("已保存！")
                            }
                        }
                        ajax.send("html=" + editor.getHtml());
                    },
                    autosave() {
                        isautosave = !isautosave;
                        if (this.isautosave) {
                            this.autosavetext = "开启自动保存";
                        } else {
                            this.autosavetext = "关闭自动保存";
                        }
                    }
                }
            }
        );
        app.mount("#sub");
        function download() {
            var ajax = new XMLHttpRequest();
            ajax.open('GET', '/source/doc/' + "0", true);
            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4) {
                    doc=JSON.parse(ajax.responseText);
                    editor.setHtml(doc.HTML);
                }
            }
            //TODO
            ajax.send();
        }
        download();

    </script>
</body>

</html>