<html>

<head>
    <title>登录</title>
    <link th:href="@{/src/css/main.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/src/css/login.css}" type="text/css" rel="stylesheet">
</head>

<body>
    <script src="/src/js/vue_.js"></script>
    <script src="/src/js/login.js"></script>
    <script src="/src/js/main.js"></script>
    <div id="login">
        <form>
            <input type="text" name="user" v-model="user" class="input">
            <input type="password" name="pwd" v-model="pwd" class="input">
        </form>
        <div class="button_" @click="login()">登录</div>
        <div class="button_" @click="signin()">注册</div>
        <div class="button_" @click="forgetPWD()">忘记密码</div>
    </div>
    <script>
        var app = Vue.createApp(
            {
                data() {
                    return {
                        user: "",
                        pwd: ""
                    }
                },
                methods: {
                    login() {
                        ajax = new XMLHttpRequest();
                        ajax.onreadystatechange = function () {
                            if (ajax.readyState == 4) {
                                let text=ajax.responseText;
                                if(text=="wrongTimes"){
                                    alert("尝试次数过多!");
                                }else
                                if(text=="wrongPWD"){
                                    alert("账户或者密码错误");
                                }else{
                                    alert("已登录");
                                    res=JSON.parse(text);
                                    setID(res.id);
                                    setSessionID(res.sessionID);
                                }

                            }
                        }
                        var user = this.user;
                        var pwd = this.pwd;
                        m = user.match("\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}")
                        if (m != null) {
                            ajax.open("POST", "/login/email");
                            ajax.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                            ajax.send("user=" + user + "&pwd=" + pwd);
                        } else {
                            ajax.open("POST", "/login/id");
                            ajax.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                            ajax.send("user=" + user + "&pwd=" + pwd);
                        }
                    }
                    ,
                    signin() {
                        window.open("/static/signin");
                    }
                    ,
                    forgetPWD() {
                        alert("请联系喵喵(QQ:2145697403)手动恢复密码")
                    }
                }
            }
        )
        app.mount("#login");
    </script>
</body>

</html>