<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"></title>
</head>

<body>
<script src="/src/js/vue_.js"></script>
<script src="/src/js/login.js"></script>
<script src="/src/js/main.js"></script>
<script>
    if(isPhone()){
        loadStyle("/src/css/main-phone.css");
        loadStyle("/src/css/login-phone.css");
    }else{
        loadStyle("/src/css/main.css");
        loadStyle("/src/css/login.css");
    }
</script>
<div th:utext="${html}"></div>
</body>

</html>