<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wiki.common_cat.staticHTMLService.mapper.StaticMapper">
    <select id="getDoc" resultType="wiki.common_cat.staticHTMLService.entities.Doc">
        select * from audited_doc where id=#{id}
    </select>
</mapper>